@font-face {
	font-family: 'Open Sans Bold';
	src: url('OpenSans-Bold.ttf');
}

* {
	font-family: 'Open sans';
}
/*page index*/
.container .row {
	margin-bottom: 20px;
}

.icon_service {
	background-color: #e6e6e6;
	height: 81px;
}

.icon_service:hover {
	background-color: #5e5e5e;
	cursor: pointer;
}

.libelle_service {
	box-shadow: 1px 1px #e6e6e6;
	background-color: #fafafa;
	color: #5e5e5e;
	height: 80px;
}
/*page connect*/
.container.connect {
	color: #ed1b24;
}

.container.connect .row {
	height: auto;
}

.container.connect  input#login.form-control{
	background-color: #ed1b24;
	border-color: transparent;
	border-radius: 0;
	color: white;
	margin-bottom: 10px;
}

.container.connect  input#password.form-control {
	border-color: #ed1b24;
	border-radius: 0;
	color: #ed1b24;
}

.connect .checked {
	border: 1px solid #ed1b24;
	cursor: pointer;
	margin-top: 5px;
	height: 21px;
	width: 21px;
}

.connect .checked.active {
	background-color: #ed1b24;
	color: white;
}

.connect .checked .glyphicon-ok {
	display: none;
}

.container.connect  #validAccount.form-control {
	background-color: white;
	border: 1px solid #ed1b24;
	border-radius: 0;
	color: #ed1b24;
}

.container.connect  #validAccount.form-control:hover {
	background-color: #ed1b24;
	color: white;
	cursor: pointer;
}
/*placehoder du champ login*/
#login::-webkit-input-placeholder
{
  color:    #fff;
}

#login:-moz-placeholder
{
  color:    #fff;
}

#login::-moz-placeholder
{
  color:    #fff;
}

#login:-ms-input-placeholder
{
  color:    #fff;
}
/*placeholder du champ password*/
#password::-webkit-input-placeholder
{
  color:    #ed1b24;
}

#password:-moz-placeholder
{
  color:    #ed1b24;
}

#password::-moz-placeholder
{
  color:    #ed1b24;
}

#password:-ms-input-placeholder
{
  color:    #ed1b24;
}

.row a {
	color: grey;
}
.row a:hover {
	color: grey;
}

.navbar-header.right-navbar {
	float: right;
}

.navbar-header.left-navbar {
	float: left;
}

.navbar-header .middle-navbar {
	margin-left: auto;
	margin-right: auto;
}

#programmes_tv .programme {
	background-color: #F5F5F5;
	color: #737373;
	height: 90px;
	padding: 0;
}

.chaine {
	background-color: #ffffff;
	border: 1px solid black;
	height: 89px;	
}

.programme .progress {
	background-color: #AFAFAF;
	border-radius: 0;
	height: 4px;
	margin-bottom: 0;
	margin-top: 30px;
}

.programme .progress-bar {
	background-color: #ed1b24;
	border: 1px solid red;
}

.free_home {
	background-image: url('../img/logo_free.png');
	background-position-x: 20px;
	background-repeat: no-repeat;
	background-size: 89px;
	width: 30%;
}

.free_home a {
	width: 100%;
}

#error_connect {
	display: none;
	text-transform: uppercase;
}

.side_menu {
	background-color: whitesmoke;
	box-shadow: 1px 0 white;
	height: 100%;
	padding-left: 40px;
	padding-top: 15px;
	position: absolute;
	top: 0;
	width: 50%;
}

.side_menu .row {
	border-bottom: 1px solid #737373;
	color: #737373;
	font-size: 12px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 150px;
}

.side_menu .row:last-child {
	border-bottom: 0px solid transparent;
}